<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="E2E Test Repository" value="Packages" />
  </packageSources>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceMapping>
    <clear />
  </packageSourceMapping>  
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>