<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NuGet.Client.BaseTypes" version="0.2.0-pre-20150109225656" targetFramework="net45" />
  <package id="NuGet.Configuration" version="1.0.0-master-50072141" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-pre-20150109221036" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.5" targetFramework="net45" />
</packages>