<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity
    Name="$guid1$"
    Version="1.0.0.0"
    Publisher="$XmlEscapedPublisherDistinguishedName$" />

  <mp:PhoneIdentity PhoneProductId="ddb21aea-a1f8-4aa4-9ffd-0312ddaae7c2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <Properties>
    <DisplayName>$projectname$</DisplayName>
    <PublisherDisplayName>$XmlEscapedPublisher$</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

        <m3:VisualElements
                  DisplayName="$projectname$"
                  Square150x150Logo="images\Logo.png"
                  Square44x44Logo="images\SmallLogo.png"
                  Description="$projectname$"
                  ForegroundText="light"
                  BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="images\WideLogo.png" Square71x71Logo="images\Square71x71Logo.png" />
            <m3:SplashScreen Image="images\SplashScreen.png" />
            <m3:ApplicationView MinWidth="width320"/>
            <!--Used in XAML Designer. DO NOT REMOVE-->
        </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
