###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.cs text eol=auto
*.cs diff=csharp
