[submodule "submodules/FileSystem"]
	path = submodules/FileSystem
	url = https://github.com/aspnet/FileSystem.git
	branch = NuGet/SubModuleIntegration
[submodule "submodules/Common"]
	path = submodules/Common
	url = https://github.com/aspnet/Common.git
	branch = NuGet/SubModuleIntegration
