<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="myget-legacy@Local" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/myget-legacy%40Local/nuget/v3/index.json" />
    <add key="nuget-build" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/nuget-build/nuget/v3/index.json" />
    <add key="vside_vs-impl-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vs-impl-archived/nuget/v3/index.json" />
    <add key="vside_vssdk-archived" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk-archived/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key = "dotnet-public">
      <package pattern="ben.demystifier" />
      <package pattern="castle.core" />
      <package pattern="fluentassertions" />
      <package pattern="ilmerge" />
      <package pattern="lucene.net" />
      <package pattern="messagepack" />
      <package pattern="messagepack.annotations" />
      <package pattern="microsoft.*" />
      <package pattern="moq" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="nerdbank.streams" />
      <package pattern="netstandard.library" />
      <package pattern="newtonsoft.json" />
      <package pattern="nuget.*" />
      <package pattern="portable.bouncycastle" />
      <package pattern="runtime.*" />
      <package pattern="sharpziplib" />
      <package pattern="streamjsonrpc" />
      <package pattern="system.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="xunitxml.testlogger" />
    </packageSource>
    <packageSource key = "dotnet-eng">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key = "nuget-build">
      <package pattern="nuget.client.endtoend.testdata" />
      <package pattern="nugetvalidator" />
    </packageSource>
    <packageSource key = "vside_vssdk">
      <package pattern="envdte" />
      <package pattern="envdte100" />
      <package pattern="envdte80" />
      <package pattern="envdte90" />
      <package pattern="envdte90a" />
      <package pattern="microsoft.*" />
      <package pattern="stdole" />
      <package pattern="streamjsonrpc" />
      <package pattern="vslangproj" />
      <package pattern="vslangproj100" />
      <package pattern="vslangproj110" />
      <package pattern="vslangproj140" />
      <package pattern="vslangproj150" />
      <package pattern="vslangproj157" />
      <package pattern="vslangproj158" />
      <package pattern="vslangproj165" />
      <package pattern="vslangproj2" />
      <package pattern="vslangproj80" />
      <package pattern="vslangproj90" />
      <package pattern="vswebsite.interop" />
    </packageSource>
    <packageSource key = "vside_vs-impl">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key = "myget-legacy@Local">
      <package pattern="microsoft.*" />
    </packageSource>
    <packageSource key = "VS">
      <package pattern="Microsoft.DevDiv.Validation.TestPlatform.Settings.Tasks" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>
