<nupkgs>
	<nupkg id="NuGet.PackageManagement.PowerShellCmdlets">
		<csprojPath>\src\PackageManagement.PowerShellCmdlets\PackageManagement.PowerShellCmdlets.csproj</csprojPath>
		<dllName>NuGet.PackageManagement.PowerShellCmdlets.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.PackageManagement.UI">
		<csprojPath>\src\PackageManagement.UI\PackageManagement.UI.csproj</csprojPath>
		<dllName>NuGet.PackageManagement.UI.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.PackageManagement">
		<csprojPath>\src\PackageManagement\PackageManagement.csproj</csprojPath>
		<dllName>NuGet.PackageManagement.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.ProjectManagement">
		<csprojPath>\src\ProjectManagement\ProjectManagement.csproj</csprojPath>
		<dllName>NuGet.ProjectManagement.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.TestUtility">
		<csprojPath>\test\Test.Utility\Test.Utility.csproj</csprojPath>
		<dllName>NuGet.TestUtility.dll</dllName>
	</nupkg>
</nupkgs>