<nupkgs>
	<nupkg id="NuGet.Client.V3">
		<csprojPath>\src\NuGet.Client.V3\Client.V3.csproj</csprojPath>
		<dllName>NuGet.Client.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.Client.BaseTypes">
		<csprojPath>\src\NuGet.Client.BaseTypes\NuGet.Client.BaseTypes.csproj</csprojPath>
		<dllName>NuGet.Client.BaseTypes.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.Client.V3.VisualStudio">
		<csprojPath>\src\NuGet.Client.V3.VisualStudio\NuGet.Client.V3.VisualStudio.csproj</csprojPath>
		<dllName>NuGet.Client.V3.VisualStudio.dll</dllName>
	</nupkg>
	<nupkg id="NuGet.Client.VisualStudio">
		<csprojPath>\src\NuGet.Client.VisualStudio\NuGet.Client.VisualStudio.csproj</csprojPath>
		<dllName>NuGet.Client.VisualStudio.dll</dllName>
	</nupkg>
        <nupkg id="NuGet.Client.V2">
		<csprojPath>\src\NuGet.Client.VisualStudio\NuGet.Client.V2.csproj</csprojPath>
		<dllName>NuGet.Client.V2.dll</dllName>
	</nupkg>
        <nupkg id="NuGet.Client.V2.VisualStudio">
		<csprojPath>\src\NuGet.Client.VisualStudio\NuGet.Client.V2.VisualStudio.csproj</csprojPath>
		<dllName>NuGet.Client.V2.VisualStudio.dll</dllName>
	</nupkg>
</nupkgs>