<nupkg>
	<!-- Relative path to the csproj for the main project. This is used for nuget.exe pack -->
	<csprojPath>\src\PackageManagement\PackageManagement.nuspec</csprojPath>
	<!-- File name without the path for the output from the above project -->
	<dllName>NuGet.PackageManagement.dll</dllName>
</nupkg>