<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NuGet.Client.BaseTypes" version="0.1.2-master-1224" targetFramework="net45" />
  <package id="NuGet.Configuration" version="1.0.0-master-50022312" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-master-50050213" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="1.0.0-master-43651946" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.5" targetFramework="net45" />
</packages>