<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Test.Apex-external-d15rel" version="15.0.26131.55" targetFramework="net462" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net462" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net462" />
</packages>