<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="json-ld.net" version="1.0.4" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NuGet.Client.BaseTypes" version="0.2.0-pre-20150112215135" targetFramework="net45" />
  <package id="NuGet.Client.V3" version="1.0.0-a20150106053848-968" targetFramework="net45" />
  <package id="NuGet.Client.V3.VisualStudio" version="0.1.4-a20150106054137-621" targetFramework="net45" />
  <package id="NuGet.Client.VisualStudio" version="0.2.0-pre-20150112215430" targetFramework="net45" />
  <package id="NuGet.Configuration" version="1.0.0-master-50072141" targetFramework="net45" />
  <package id="NuGet.Data" version="1.0.1-master-43391912" targetFramework="net45" />
  <package id="NuGet.PackageManagement" version="1.0.0-pre-20150113000240" targetFramework="net45" />
  <package id="NuGet.PackageManagement.UI" version="1.0.0-pre-20150113224715" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-pre-20150109221036" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="1.0.0-pre-20150112223800" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.5" targetFramework="net45" />
</packages>
