###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.cs text=auto
*.cs diff=csharp
