<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="portable-net45+win" />
  <package id="NuGet.Versioning" version="1.0.3-master-43232045" targetFramework="portable-net45+win" />
</packages>