<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      "key" is the V3 package source index.json URI
      "value" is true if .nupkg files should be made available to NuGet; otherwise, false.
    -->
    <add key="https://api.nuget.org/v3/index.json" value="true" />
  </appSettings>
</configuration>