<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="xunit.runner.msbuild" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.console" version="2.1.0" targetFramework="net45" />
  <package id="NuGet.MsBuild.Integration" version="3.1.0-beta-001" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="14.1.127-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="15.0.183-pre" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.1.142-preview4-29265" targetFramework="net35" />
</packages>