<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-master-50060114" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="1.0.0-master-50071904" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.5" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
</packages>