<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.0.1-delta" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-pre-20150120004808" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.3-master-43232045" targetFramework="net45" />
</packages>