<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="3.0.0-beta" targetFramework="net45" />
  <package id="NuGet.Packaging" version="3.0.0-beta" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="3.0.0-beta" targetFramework="net45" />
  <package id="NuGet.Packaging.Core.Types" version="3.0.0-beta" targetFramework="net45" />
  <package id="NuGet.Versioning" version="3.0.0-beta" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net45" />
</packages>