<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="NuGet.Packaging" version="1.0.0-master-43642026" targetFramework="net45" />
  <package id="NuGet.ProjectManagement" version="1.0.0-master-50060205" targetFramework="net45" />
  <package id="NuGet.TestUtility" version="1.0.0-master-50060510" targetFramework="net45" />
  <package id="NuGet.Versioning" version="1.0.5" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="0.99.9-build1021" targetFramework="net45" />
</packages>