<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element -->
    <gcServer enabled="true" />
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gccpugroup-element -->
    <GCCpuGroup enabled="true" />
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/thread-useallcpugroups-element -->
    <Thread_UseAllCpuGroups enabled="true"/>
  </runtime>
</configuration>
