<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcserver-element -->
    <gcServer enabled="true" />
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gccpugroup-element -->
    <GCCpuGroup enabled="true" />
    <!-- https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/thread-useallcpugroups-element -->
    <Thread_UseAllCpuGroups enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Use codeBase entries for MSBuild assemblies so that the NGen'd native images will be used -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\Current\Bin\Microsoft.Build.Framework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Tasks.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\Current\Bin\Microsoft.Build.Tasks.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Utilities.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\Current\Bin\Microsoft.Build.Utilities.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\Current\Bin\Microsoft.Build.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="4.0.2.0" href="..\..\..\..\..\MSBuild\Current\Bin\System.Buffers.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="1.2.3.0" href="..\..\..\..\..\MSBuild\Current\Bin\System.Collections.Immutable.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <codeBase version="4.0.1.1" href="..\..\..\..\..\MSBuild\Current\Bin\System.Memory.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="4.1.3.0" href="..\..\..\..\..\MSBuild\Current\Bin\System.Numerics.Vectors.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <codeBase version="4.0.0.0" href="..\..\..\..\..\MSBuild\Current\Bin\System.Resources.Extensions.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="4.0.4.1" href="..\..\..\..\..\MSBuild\Current\Bin\System.Runtime.CompilerServices.Unsafe.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <codeBase version="4.6.3.0" href="..\..\..\..\..\MSBuild\Current\Bin\System.Threading.Tasks.Dataflow.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
